Мы создаем проект по предоставлению услуг автоматических ответов в соц сетях и обзвону клиентов пользователей сайта в автоматическом режиме.
ВАЖНО: Когда пишишь код будь уверен на 100%, что  ты не ломаешь уже работающий код.